[Unit]
Wants=network.target
After=network.target
After=adsb-first-run.service

[Service]
EnvironmentFile=/boot/adsb-978env
SyslogIdentifier=adsb-978
RuntimeDirectory=adsb-978
User=adsb
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/adsb-978-start
Type=simple
Restart=on-failure
RestartSec=30
Nice=5

[Install]
WantedBy=default.target
