
[Unit]
Description=adsb-mlat
Wants=network.target
After=network.target
After=adsb-first-run.service

[Service]
EnvironmentFile=/boot/adsb-config.txt
EnvironmentFile=/boot/adsb-env
User=adsb
ExecStart=/usr/local/bin/mlat.sh
Type=simple
Restart=on-failure
RestartSec=30
RestartPreventExitStatus=64
SyslogIdentifier=adsb-mlat

[Install]
WantedBy=default.target
